<div class="tabs__titles">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div class="tabs__title" [class.tabs__title--active]="selectedIndex === i" (click)="handleTabClick(i)">
        <ng-template [ngIf]="tab.tabTitle">
          <ng-container *ngTemplateOutlet="tab.tabTitle.content"></ng-container>
        </ng-template>
      </div>
    </ng-container>
</div>

<div class="tabs__content" *ngIf="tabs[selectedIndex] && tabs[selectedIndex].tabContent">
  <ng-container *ngTemplateOutlet="tabs[selectedIndex].tabContent.content"></ng-container>
</div>
